[submodule "+wit-common"]
	path = +wit-common
	url = https://github.com/ManfredWisniewski/wit-common.git
	branch = main
[submodule "+wit-wiki"]
	path = +wit-wiki
	url = https://github.com/ManfredWisniewski/wit-wiki.git
	branch = main
[submodule "+wit-dev"]
	path = +wit-dev
	url = https://github.com/ManfredWisniewski/wit-dev.git
	branch = main
[submodule "wit_pytools"]
	path = wit_pytools
	url = https://github.com/ManfredWisniewski/wit_pytools.git
	branch = main
[submodule "obs-seo-witconsult"]
	path = obs-seo-witconsult
	url = https://github.com/ManfredWisniewski/obs-seo-witconsult.git
	branch = main
