[submodule "+wit"]
	path = +wit
	url = https://github.com/ManfredWisniewski/wit-common.git
	branch = main
[submodule "wit_pytools"]
	path = wit_pytools
	url = https://github.com/ManfredWisniewski/wit_pytools.git
	branch = main
